{% extends 'Base.html' %}
{% block title %}
Detail 
{% endblock title %}
{% block content %}
<h1> Detail for {{recipe.title}}</h1>
<h3> likes : {{recipe.like_count}} </h3>
<h4> Time to coock : {{recipe.time_to_cook}}</h4>
<h4> Category: {{recipe.category}} </h4>
<p> Cretaed at <b>{{recipe.created_time}}</b></p>
{% if recipe.image %}
    <img src="{{recipe.image.url}}" alt="{{recipe.title}}" width="200" height="150">
{% endif %}
<br>
<h3> description </h3>
<p>{{recipe.description}}</p>
<br>
<h3> instructions </h3>
<p>{{recipe.instructions}} </p>
<h3> Like </h3>
<form method="post" action="{% url 'recipe:like' recipe.pk %}">
    {% csrf_token %}    
    {{like_form.as_p}}
    <input type="submit" value="like" />
</form>
<h3> Favorite </h3>
<form method="post" action="{% url 'recipe:favorite' recipe.pk %}">
    {% csrf_token %}    
    {{like_form.as_p}}
    <input type="submit" value="favorite" />
</form>


<h3> comments </h3>
{% for comm in comments %}
<li><b>{{comm.user}}</b>:{{comm.content}}</li>
{% endfor %}
<h4> Add Comment </h4>

<form method="post" action="{% url 'recipe:comment' recipe.pk %}">
    {% csrf_token %}    
    {{comment_form.as_p}}
    <input type="submit" value="add comment" />
</form>
<br>



{% if request.user == recipe.user %}
<h3> recipe management </h3>
    <form method="get" action="{% url 'recipe:delete' recipe.pk %}">
        {% csrf_token %}
        <input type="submit" value="delete" />
    </form>
    <br></br>
    <form method="get" action="{% url 'recipe:update' recipe.pk %}">
        {% csrf_token %}
        <input type="submit" value="update" />
    </form>

{% endif %}




{% endblock content %}