{% extends 'Base.html' %}   
{% block title %}
User profile 
{% endblock title %}

{% block content %}

<h1>{{ user.username }}'s Profile</h1>
<h3> <a href="{% url 'accounts:followers_list' user.username %}">follwer</a> {{user.followers.count}}  || {{following.count}} <a href="{% url 'accounts:following_list' user.username %}">following </a> </h3>
<h4>member since: {{ user.date_joined.date}}</h4>

{% if user != request.user %}
    {% if user_is_following %}
        <form method="post" action="{% url 'accounts:unfollow_user' user.username %}">
            {% csrf_token %}
            <input type="submit" value="unfollow">
        </form>
    {% else %}
        <form method="post" action="{% url 'accounts:follow_user' user.username %}">
            {% csrf_token %}
            <input type="submit" value="follow">
        </form>
    {% endif %}
{% endif %}

<h2>Posted recipes</h2>
    {% for recipe in recipes %}
        <p> <a href="{% url 'recipe:detail' recipe.pk %}">{{recipe.title}}</a> {{recipe.created_time}} </p>
    {% endfor %}

<h3>User comments </h3>
    {% for comment in comments %}
        <p> commented on <b>{{comment.recipe.title}}</b> : {{comment.content}}</p>
    {% endfor %}

{% if request.user == user %}
    <h3> favorites </h3>
    {% for fav in favorites %}
        <a href="{% url 'recipe:detail' fav.recipe.pk %}" >{{ fav.recipe.title }}</a><br>
    {% endfor %}

    <h3> posts liked </h3>
    {% for li in likes %}
        <a href="{% url 'recipe:detail' li.recipe.pk %}" >{{ li.recipe.title }}</a><br>
    {% endfor %}

{% endif %}

{% endblock content %}